{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Food Lovers</title>
	<!-- Google Font Family Link Start -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800">
	<!-- Google Font Family Link End -->
	<link rel="icon" type="image/png" href="{% static 'logo/favicon.png' %}" rel="icon" />
	<!-- CSS -->
	<link href="{% static 'css/iconmoon.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/cs-foodbakery-plugin.css' %}" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link href="{% static 'css/bootstrap-slider.css' %}" rel="stylesheet">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- JAVASCRIPT -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>

	<link rel="stylesheet" href="{% static 'css/custom.css' %}">

	{% if '/' == request.path or 'profile' in request.path %}
	<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=places&callback=initAutoComplete" defer></script>
	{% endif %}
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	
	<!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}&currency=USD"></script>



</head>

<body>

    <!-- LOAD NAVBAR HERE -->


    <!-- Header Start -->
    <header id="header">
        <div class="main-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="logo">
                            <figure>
                                <a href="{% url 'home' %}" class="light-logo">
                                    <img src="{% static 'logo/foodLoversLogo.png' %}" alt="FoodOnline" style="max-width:250px;">
                                </a>
                            </figure>
                        </div>
                        
                        
                        <div class="main-location ml-5">
                            <ul>
                                <li class="location-has-children choose-location">
                                    <form action="#">
                                        <input type="text" value="" name="location" id="location" placeholder="Your current location" autocomplete="off">
                                        <span id="foodbakery_radius_location_open" class="foodbakery-radius-location" onclick="getLocation()"><i class="icon-target5"></i></span>
                                    </form>
                                    
                                </li>
                            </ul>
                            </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex align-items-center justify-content-end">
                        <div class="login-option">
                            {% if user.is_authenticated %}
                            <a href="{% url 'cart' %}">
                                <i class="fa fa-shopping-cart text-danger" style="font-size: 20px;"></i>
                                <span class="badge badge-warning" id="cart_counter" style="border-radius: 50px; position: relative; bottom:10px; left: -5px;">
                                    {{ cart_count }}
                                </span>
                            </a>
                            {% endif %}
                            <a href="{% url 'marketplace' %}" class="btn btn-outline-danger text-uppercase font-weight-bold">Marketplace</a>
                            {% if user.is_authenticated %}
                            <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'myAccount' %}">My Account</a>
                            <a class="cs-color cs-popup-joinus-btn login-popup text-danger" href="{% url 'logout' %}">Logout</a>
                            {% else %}
                            <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'login' %}">Login</a> / 
                                <span><a href="{% url 'registerUser' %}" class="cs-color cs-popup-joinus-btn login-popup ml-0">Register</a></span><a class="get-start-btn" href="{% url 'registerVendor' %}">
                                Register
                                Restaurant </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <script>

		//Render the location on Input checking on sessionStorage
		var locationElement = document.getElementById("location");
		console.log(locationElement)
		var current_location = sessionStorage.getItem("current_location")
	   
		if(current_location != ""){
			locationElement.value = current_location;
		}
		
		function getLocation() {
			if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(showPosition);
			} else { 
			   alert("Geolocation is not supported by this browser")
			}
		}
		
		function showPosition(position) {
			fetch("https://api.ipify.org?format=json").then(
				(response) => response.json()
			).then((jsonResponse) => {
					console.log(jsonResponse['ip'])
					fetch("http://ip-api.com/json/"+jsonResponse['ip']).then(
						(response) => response.json()
			        ).then(	(jsonResponse) => {
						console.log(jsonResponse)
						sessionStorage.setItem("current_location", jsonResponse.city)
						sessionStorage.setItem("lat", jsonResponse.lat)
						sessionStorage.setItem("lng", jsonResponse.lon)
						window.location = '?lng='+jsonResponse.lon+'&lat='+jsonResponse.lat
					})
				}
			)
	
			function clearIp() {
				htmlcontent = `<h4>Nothing to display</h4>`
				document.getElementById('client-detail').innerHTML = htmlcontent
			}
	
		}
	
	
		</script>

    <!-- LOAD CONTENT HERE -->
    {% block content %}
        <!-- CONTENT GOES HERE -->
    {% endblock %}

    <!-- LOAD FOOTER HERE -->
    {% include 'includes/footer.html' %}


	
		

